
.page-header {
    display: flex;
    box-sizing: border-box;
    border-bottom: 1px solid #E7E9FC;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    width: 1158px;
    display: flex; 
    align-items: center;
}



.logo {
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}











.portfolio-image {}






.container-footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}


.footer-logo {
display: inline-block;
margin-bottom: 16px;
}
.footer-list {
    /* width: calc((100% - 120px) / 2); */
    display: block;
}










.footer-subscribe {
  display: block;
  margin-left: 80px;
}

.footer-form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}



.backdrop {
    /*display: flex;
    align-items: center;
    justify-content: center; */
}

